
/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

#epike1 {
  font-size: 130px;
}

@media (min-width: 1281px) {
  
  
  
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  
  
  
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media screen and (min-width: 768px) and (max-width: 1024px) {
  
  #all_text{
    padding: 20px;
  }
  #epike1 {
    display: inline-block !important;
    font-size: 30px !important;
  }
  ul li{
    display: block;
    padding-left: 0;
    padding-right: 0;
    font-size: 12px;
  }
  #p1{
    font-size: 16px;
    display: block;
  }
  
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
  #all_text{
    padding: 20px;
  }
  #epike1 {
    display: inline-block !important;
    font-size: 30px !important;
  }
  ul li{
    display: block;
    padding-left: 0;
    padding-right: 0;
    font-size: 12px;
  }
  #p1{
    font-size: 16px;
    display: block;
  }
  
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  
  #all_text{
    padding: 20px;
  }
  #epike1 {
    display: inline-block !important;
    font-size: 30px !important;
  }
  ul li{
    display: block;
    padding-left: 0;
    padding-right: 0;
    font-size: 12px;
  }
  #p1{
    font-size: 16px;
    display: block;
  }
}


@media (min-width: 320px) and (max-width: 480px) {
  
  #all_text{
    padding: 20px;
  }
  #epike1 {
    display: inline-block !important;
    font-size: 30px !important;
  }
  ul li{
    display: block;
    padding-left: 0;
    padding-right: 0;
    font-size: 12px;
  }
  #p1{
    font-size: 16px;
    display: block;
  }
  
}